.contents
  .contents__hader
    .contents__hader--boxone
      .contents__hader--boxone--text
        ネットで売上を上げるためのLP
        %p
        = link_to "#",target:"_blank", class: "contents__hader--btnone" do
          %span プロフィール
        = link_to "https://qiita.com/d_shuta",target:"_blank", class: "contents__hader--btntwo" do
          %span|  Qiita
        = link_to "#",target:"_blank", class: "contents__hader--btnthree" do
          %span|  SNS
        = link_to "#",target:"_blank", class: "contents__hader--btnfour" do
          %span|  アクセス
        = link_to "#",target:"_blank", class: "contents__hader--btnfive" do
          %span|  お問い合わせ
    .contents__hader--boxtwo
      ☆今はまだ自己満足ページ
      <p><span>D</span>の部屋</p>
  .contents__mainone
    .contents__mainone--box
      .contents__mainone--box--one
        .youtube-container
          %iframe#player{frameborder: "0", height:"315", src: "https://www.youtube.com/embed/ax8ct0ampEY", type: "text/html", width: "520",class:"icon"}
        .youtube-container
          %iframe#player{frameborder: "0", height:"315", src: "https://www.youtube.com/embed/_iyWi5wnwCg", type: "text/html", width: "520",class:"icon1"}
          %span
            YouTubeで学ぼう！
      .contents__mainone--box--two
        .youtube-container
          %iframe#player{frameborder: "0", height:"315", src: "https://www.youtube.com/embed/QBRd-Gt2CSE", type: "text/html", width: "520",class:"icon2"}
        .youtube-container
          %iframe#player{frameborder: "0", height:"315", src: "https://www.youtube.com/embed/g2AFcjHPO2A", type: "text/html", width: "520",class:"icon3"}
          <span>YouTubeで学ぼう！</span>
      .contents__mainone--box--three
        .contents__mainone--box--three--text
          <a class="twitter-timeline" data-height="685" data-theme="dark" href="https://twitter.com/kamohappy?ref_src=twsrc%5Etfw">Tweets by kamohappy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      




