.contents__main
  .contents__sabuone
    .contents__sabuone--box
      .contents__sabuone--box--one
        ①
        = link_to "https://www.amazon.co.jp/%E3%82%AB%E3%83%B3%E3%82%BF%E3%83%B3%E3%81%AB%E5%A3%B2%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%AB%E3%81%AA%E3%81%9CYouTube%E3%82%92%E3%82%84%E3%82%89%E3%81%AA%E3%81%84%E3%82%93%E3%81%A7%E3%81%99%E3%81%8B-%E9%B4%A8%E9%A0%AD%E5%98%89%E4%BA%BA/dp/4861138671/ref=sr_1_2?adgrpid=71222663935&gclid=CjwKCAiA44LzBRB-EiwA-jJipHVJQqhy27AfzObGt9wKQDknGQ_9PlhkKoOPo9B4bqxtIek7f5Z11hoCx4MQAvD_BwE&hvadid=353006216332&hvdev=c&hvlocphy=1009308&hvnetw=g&hvqmt=e&hvrand=6850198215492481722&hvtargid=aud-759242200046%3Akwd-762593563875&hydadcr=8335_11093756&jp-ad-ap=0&keywords=amazon+%E9%B4%A8%E9%A0%AD&qid=1583401018&sr=8-2", target:"_blank" do
          = image_tag "bg/kamo.jpg",width: "300",height:"270", class:"hon"
        ④
        = link_to "https://www.amazon.co.jp/%E3%82%AB%E3%83%B3%E3%82%BF%E3%83%B3%E3%81%AB%E5%A3%B2%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%AB%E3%81%AA%E3%81%9CYouTube%E3%82%92%E3%82%84%E3%82%89%E3%81%AA%E3%81%84%E3%82%93%E3%81%A7%E3%81%99%E3%81%8B-%E9%B4%A8%E9%A0%AD%E5%98%89%E4%BA%BA/dp/4861138671/ref=sr_1_2?adgrpid=71222663935&gclid=CjwKCAiA44LzBRB-EiwA-jJipHVJQqhy27AfzObGt9wKQDknGQ_9PlhkKoOPo9B4bqxtIek7f5Z11hoCx4MQAvD_BwE&hvadid=353006216332&hvdev=c&hvlocphy=1009308&hvnetw=g&hvqmt=e&hvrand=6850198215492481722&hvtargid=aud-759242200046%3Akwd-762593563875&hydadcr=8335_11093756&jp-ad-ap=0&keywords=amazon+%E9%B4%A8%E9%A0%AD&qid=1583401018&sr=8-2", target:"_blank" do
          = image_tag "bg/kamo.jpg",width: "300",height:"270", class:"hon"
      .contents__sabuone--box--two
        ②
        = link_to "https://www.amazon.co.jp/%E3%82%AB%E3%83%B3%E3%82%BF%E3%83%B3%E3%81%AB%E5%A3%B2%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%AB%E3%81%AA%E3%81%9CYouTube%E3%82%92%E3%82%84%E3%82%89%E3%81%AA%E3%81%84%E3%82%93%E3%81%A7%E3%81%99%E3%81%8B-%E9%B4%A8%E9%A0%AD%E5%98%89%E4%BA%BA/dp/4861138671/ref=sr_1_2?adgrpid=71222663935&gclid=CjwKCAiA44LzBRB-EiwA-jJipHVJQqhy27AfzObGt9wKQDknGQ_9PlhkKoOPo9B4bqxtIek7f5Z11hoCx4MQAvD_BwE&hvadid=353006216332&hvdev=c&hvlocphy=1009308&hvnetw=g&hvqmt=e&hvrand=6850198215492481722&hvtargid=aud-759242200046%3Akwd-762593563875&hydadcr=8335_11093756&jp-ad-ap=0&keywords=amazon+%E9%B4%A8%E9%A0%AD&qid=1583401018&sr=8-2", target:"_blank" do
          = image_tag "bg/kamo.jpg",width: "300",height:"270", class:"hon"
        ⑤
        = link_to "https://www.amazon.co.jp/%E3%82%AB%E3%83%B3%E3%82%BF%E3%83%B3%E3%81%AB%E5%A3%B2%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%AB%E3%81%AA%E3%81%9CYouTube%E3%82%92%E3%82%84%E3%82%89%E3%81%AA%E3%81%84%E3%82%93%E3%81%A7%E3%81%99%E3%81%8B-%E9%B4%A8%E9%A0%AD%E5%98%89%E4%BA%BA/dp/4861138671/ref=sr_1_2?adgrpid=71222663935&gclid=CjwKCAiA44LzBRB-EiwA-jJipHVJQqhy27AfzObGt9wKQDknGQ_9PlhkKoOPo9B4bqxtIek7f5Z11hoCx4MQAvD_BwE&hvadid=353006216332&hvdev=c&hvlocphy=1009308&hvnetw=g&hvqmt=e&hvrand=6850198215492481722&hvtargid=aud-759242200046%3Akwd-762593563875&hydadcr=8335_11093756&jp-ad-ap=0&keywords=amazon+%E9%B4%A8%E9%A0%AD&qid=1583401018&sr=8-2", target:"_blank" do
          = image_tag "bg/kamo.jpg",width: "300",height:"270", class:"hon"
      .contents__sabuone--box--three
        ③
        = link_to "https://www.amazon.co.jp/%E3%82%AB%E3%83%B3%E3%82%BF%E3%83%B3%E3%81%AB%E5%A3%B2%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%AB%E3%81%AA%E3%81%9CYouTube%E3%82%92%E3%82%84%E3%82%89%E3%81%AA%E3%81%84%E3%82%93%E3%81%A7%E3%81%99%E3%81%8B-%E9%B4%A8%E9%A0%AD%E5%98%89%E4%BA%BA/dp/4861138671/ref=sr_1_2?adgrpid=71222663935&gclid=CjwKCAiA44LzBRB-EiwA-jJipHVJQqhy27AfzObGt9wKQDknGQ_9PlhkKoOPo9B4bqxtIek7f5Z11hoCx4MQAvD_BwE&hvadid=353006216332&hvdev=c&hvlocphy=1009308&hvnetw=g&hvqmt=e&hvrand=6850198215492481722&hvtargid=aud-759242200046%3Akwd-762593563875&hydadcr=8335_11093756&jp-ad-ap=0&keywords=amazon+%E9%B4%A8%E9%A0%AD&qid=1583401018&sr=8-2", target:"_blank" do
          = image_tag "bg/kamo.jpg",width: "300",height:"270", class:"hon"
        ⑥
        = link_to "https://www.amazon.co.jp/%E3%82%AB%E3%83%B3%E3%82%BF%E3%83%B3%E3%81%AB%E5%A3%B2%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%AB%E3%81%AA%E3%81%9CYouTube%E3%82%92%E3%82%84%E3%82%89%E3%81%AA%E3%81%84%E3%82%93%E3%81%A7%E3%81%99%E3%81%8B-%E9%B4%A8%E9%A0%AD%E5%98%89%E4%BA%BA/dp/4861138671/ref=sr_1_2?adgrpid=71222663935&gclid=CjwKCAiA44LzBRB-EiwA-jJipHVJQqhy27AfzObGt9wKQDknGQ_9PlhkKoOPo9B4bqxtIek7f5Z11hoCx4MQAvD_BwE&hvadid=353006216332&hvdev=c&hvlocphy=1009308&hvnetw=g&hvqmt=e&hvrand=6850198215492481722&hvtargid=aud-759242200046%3Akwd-762593563875&hydadcr=8335_11093756&jp-ad-ap=0&keywords=amazon+%E9%B4%A8%E9%A0%AD&qid=1583401018&sr=8-2", target:"_blank" do
          = image_tag "bg/kamo.jpg",width: "300",height:"270", class:"hon" 
      .contents__sabuone--box--four
        .contents__sabuone--box--three-text
          ああああ
  .contents__sabutwo
    .contents__sabutwo--box
      .contents__sabutwo--box--one
        .youtube-container
          %iframe#player{frameborder: "0", height:"280", src: "https://www.youtube.com/embed/ax8ct0ampEY", type: "text/html", width: "520",class:"icon3"}
        .youtube-container
          %iframe#player{frameborder: "0", height:"280", src: "https://www.youtube.com/embed/_iyWi5wnwCg", type: "text/html", width: "520",class:"icon4"}
      .contents__sabutwo--box--two
        .youtube-container
          %iframe#player{frameborder: "0", height:"280", src: "https://www.youtube.com/embed/QBRd-Gt2CSE", type: "text/html", width: "520",class:"icon5"}
        .youtube-container
          %iframe#player{frameborder: "0", height:"280", src: "https://www.youtube.com/embed/ax8ct0ampEY", type: "text/html", width: "520",class:"icon6"}
      .contents__sabutwo--box--three
        ああああ
      -# .contents__sabutwo--box--four
        ここにTwitterなど
      
  .contents__sabuthree
    .contents__sabuthree--box
      .contents__sabuthree--box--one
        
  .contents__sabufour
    .contents__sabufour--box
  .contents__footer
    .contents__footer--box
      = link_to "#", class: "contents__footer--btnone" do
        プライバシーポリシー
      = link_to "#", class: "contents__footer--btntwo" do
        |  仮ーーーー
      = link_to "#", class: "contents__footer--btnthree" do
        |  仮ーーーー
      = link_to "#", class: "contents__footer--btnfour" do
        |  仮ーーーーー
      = link_to "#", class: "contents__footer--btnfive" do
        |  仮ーーーーー
      = link_to "#", class: "contents__footer--btnsix" do
        |  仮ーーーー
    .contents__footer--name
      〜テックキャンプ　個人アプリ制作〜 制作（たなか　しゅうた
      = link_to "https://kamogashira.com/", target:"_blank" do
        )

