.contents__main
  .contents__sabuone
    .contents__sabuone--box
      .contents__sabuone--box--one
        ①
        = link_to "https://www.amazon.co.jp/%E3%82%AB%E3%83%B3%E3%82%BF%E3%83%B3%E3%81%AB%E5%A3%B2%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%AB%E3%81%AA%E3%81%9CYouTube%E3%82%92%E3%82%84%E3%82%89%E3%81%AA%E3%81%84%E3%82%93%E3%81%A7%E3%81%99%E3%81%8B-%E9%B4%A8%E9%A0%AD%E5%98%89%E4%BA%BA/dp/4861138671/ref=sr_1_2?adgrpid=71222663935&gclid=CjwKCAiA44LzBRB-EiwA-jJipHVJQqhy27AfzObGt9wKQDknGQ_9PlhkKoOPo9B4bqxtIek7f5Z11hoCx4MQAvD_BwE&hvadid=353006216332&hvdev=c&hvlocphy=1009308&hvnetw=g&hvqmt=e&hvrand=6850198215492481722&hvtargid=aud-759242200046%3Akwd-762593563875&hydadcr=8335_11093756&jp-ad-ap=0&keywords=amazon+%E9%B4%A8%E9%A0%AD&qid=1583401018&sr=8-2", target:"_blank" do
          = image_tag "bg/kamo.jpg",width: "300",height:"270", class:"hon"
        ④
        = link_to "https://www.amazon.co.jp/%E6%96%B0%E3%83%BB%E9%AD%94%E6%B3%95%E3%81%AE%E3%82%B3%E3%83%B3%E3%83%91%E3%82%B9-%E8%A7%92%E5%B7%9D%E6%96%87%E5%BA%AB-%E8%A5%BF%E9%87%8E-%E4%BA%AE%E5%BB%A3/dp/4048964550/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E9%AD%94%E6%B3%95%E3%81%AE%E3%82%B3%E3%83%B3%E3%83%91%E3%82%B9&qid=1583480528&sr=8-1", target:"_blank" do
          = image_tag "bg/hon5.jpg",width: "300",height:"270", class:"hon"
      .contents__sabuone--box--two
        ②
        = link_to "https://www.amazon.co.jp/99-%E3%81%AE%E4%BA%BA%E3%81%8C%E6%B0%97%E3%81%A5%E3%81%84%E3%81%A6%E3%81%84%E3%81%AA%E3%81%84%E3%81%8A%E9%87%91%E3%81%AE%E6%AD%A3%E4%BD%93-%E5%A0%80%E6%B1%9F-%E8%B2%B4%E6%96%87/dp/4299001257/ref=sr_1_2?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E5%A0%80%E6%B1%9F&qid=1583480637&sr=8-2", target:"_blank" do
          = image_tag "bg/hon6.jpg",width: "300",height:"270", class:"hon"
        ⑤
        = link_to "https://www.amazon.co.jp/%E8%97%A4%E5%8E%9F%E5%92%8C%E5%8D%9A%E3%81%AE%E5%BF%85%E3%81%9A%E9%A3%9F%E3%81%88%E3%82%8B1-%E3%81%AE%E4%BA%BA%E3%81%AB%E3%81%AA%E3%82%8B%E6%96%B9%E6%B3%95-%E8%97%A4%E5%8E%9F-%E5%92%8C%E5%8D%9A/dp/4492045082/ref=sr_1_24?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=KZFORUNYOE9C&keywords=%E5%89%8D%E7%94%B0%E8%A3%95%E4%BA%8C&qid=1583480152&sprefix=%E5%89%8D%E7%94%B0%E8%A3%95%E4%BA%8C%2Caps%2C247&sr=8-24", target:"_blank" do
          = image_tag "bg/hon3.jpg",width: "300",height:"270", class:"hon"
      .contents__sabuone--box--three
        ③
        = link_to "https://www.amazon.co.jp/FACTFULNESS-%E3%83%95%E3%82%A1%E3%82%AF%E3%83%88%E3%83%95%E3%83%AB%E3%83%8D%E3%82%B9-10%E3%81%AE%E6%80%9D%E3%81%84%E8%BE%BC%E3%81%BF%E3%82%92%E4%B9%97%E3%82%8A%E8%B6%8A%E3%81%88%E3%80%81%E3%83%87%E3%83%BC%E3%82%BF%E3%82%92%E5%9F%BA%E3%81%AB%E4%B8%96%E7%95%8C%E3%82%92%E6%AD%A3%E3%81%97%E3%81%8F%E8%A6%8B%E3%82%8B%E7%BF%92%E6%85%A3-%E3%83%8F%E3%83%B3%E3%82%B9%E3%83%BB%E3%83%AD%E3%82%B9%E3%83%AA%E3%83%B3%E3%82%B0/dp/4822289605/ref=sr_1_10?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=2B7Y3EHACISOT&keywords=%E8%BB%A2%E8%81%B7%E3%81%AE%E6%80%9D%E8%80%83%E6%B3%95&qid=1583478710&sprefix=%E8%BB%A2%E8%81%B7%E3%81%AE%2Caps%2C249&sr=8-10", target:"_blank" do
          = image_tag "bg/hon2.jpg",width: "300",height:"270", class:"hon"
        ⑥
        = link_to "https://www.amazon.co.jp/%E3%83%A1%E3%83%A2%E3%81%AE%E9%AD%94%E5%8A%9B-Magic-Memos-NewsPicks-Book-ebook/dp/B07L67XZSS/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=KZFORUNYOE9C&keywords=%E5%89%8D%E7%94%B0%E8%A3%95%E4%BA%8C&qid=1583480152&sprefix=%E5%89%8D%E7%94%B0%E8%A3%95%E4%BA%8C%2Caps%2C247&sr=8-1", target:"_blank" do
          = image_tag "bg/hon4.jpg",width: "300",height:"270", class:"hon" 
      .contents__sabuone--box--four
        .contents__sabuone--box--four--text
          <span1>☆</span1><span>読んで良かった本紹介</span>
          <p><a>①</a></p><p>YouTubeで自分を広告して<p>ビジネス成功論</p></p>
          <p><a>②</a></p><p>お金ってたくさん貯金があれば<p>幸せなの？</p></p>
          <p><a>③</a></p><p>物事の本質をつかめ！</p>
          <p><a>④</a></p><p>非常識が常識になりつつある</p>
          <p><a>⑤</a></p><p>自分の市場価値を高めよう</p>
          <p><a>⑥</a></p><p>成功してる人は実践している</p>
          <p>気になったら画像をクリック♪</p>
          <p><span2>Amazonの購入ページにとびます</span2></p>
      .contents__sabuone--box--five
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D217027142763098%26id%3D100033674423897&width=280" width="280" height="554" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  .contents__sabutwo
    .contents__sabutwo--box
      .contents__sabutwo--box--one
        .youtube-container
          %iframe#player{frameborder: "0", height:"280", src: "https://www.youtube.com/embed/BnnD0u8jlhk", type: "text/html", width: "520",class:"icon3"}
        .youtube-container
          %iframe#player{frameborder: "0", height:"280", src: "https://www.youtube.com/embed/S-VMS9dHKTg", type: "text/html", width: "520",class:"icon4"}
      .contents__sabutwo--box--two
        .youtube-container
          %iframe#player{frameborder: "0", height:"280", src: "https://www.youtube.com/embed/837-HqhbYXg", type: "text/html", width: "520",class:"icon5"}
        .youtube-container
          %iframe#player{frameborder: "0", height:"280", src: "https://www.youtube.com/embed/Mijr05XS_2g", type: "text/html", width: "520",class:"icon6"}
      .contents__sabutwo--box--three
        .contents__sabutwo--box--three-text
          <span1>☆</span1><span>過去の作品紹介</span>
          <p><a>①</a></p><p>作品の動画の説明</p>
          <p><a>②</a></p><p>作品の動画の説明</p>
          <p><a>③</a></p><p>作品の動画の説明</p>
          <p><a>④</a></p><p>作品の動画の説明</p>
          <p>チャンネル登録も</p>
          <p>お願いいたします♪</P>
      
  .contents__sabuthree
    .contents__sabuthree--box
      .contents__sabuthree--box--one
        .contents__sabuthree--box--two
          LPの
          <span>作成</span>しませんか？
        .contents__sabuthree--box--three
          .contents__sabuthree--box--four
            <span>①自分で作る</span>
            = link_to "https://peraichi.com/",target:"_blank"do
              = image_tag "bg/pera.jpg",width: "320",height:"190", class:"beaf" 
            = link_to "https://promo.form-mailer.jp/lpeditor/?utm_source=article-web&utm_medium=ferret&utm_campaign=lpeditor-201801&utm_content=intermediate",target:"_blank"do
              = image_tag "bg/pera1.jpg",width: "320",height:"190", class:"beaf"
          .contents__sabuthree--box--five
            <span>②依頼して作る</span>
            %p
              ここに見本と
            %p
              画像リンク
            -# = image_tag "bg/reji.jpg",width: "320",height:"200", class:"beaf" 
            -# = image_tag "bg/tyumon2.jpg",width: "320",height:"200", class:"beaf"
        .contents__sabuthree--box--six
          LPは　企業でも　個人でも　これからのビジネスに必要不可欠なツールです
        .contents__sabuthree--box--seven
          LPとは？　詳しくはこちら
          =link_to "https://ppc-master.jp/service-list/lp/?gclid=Cj0KCQiAqY3zBRDQARIsAJeCVxNS8zo3reTYtiym5YzETQe0kZh_B9PIGEujYajB1MCTmTXGgSG2-ZcaAodLEALw_wcB",target:"_blank",class:"icon" do
            <span>　　会社名　　〇〇</span>
        
  .contents__sabufour
    .contents__sabufour--box
      .contents__sabufour--box--one
        .contents__sabufour--box--two
          今の仕事、
          <span>自動化</span>しませんか？
        .contents__sabufour--box--three
          .contents__sabufour--box--four
            <span>①ビフォー</span>
            = image_tag "bg/reji.jpg",width: "320",height:"200", class:"beaf" 
            = image_tag "bg/tyumon2.jpg",width: "320",height:"200", class:"beaf"
          .contents__sabufour--box--five
            <span>②アフター</span>
            = image_tag "bg/reji2.jpg",width: "320",height:"200", class:"beaf" 
            = image_tag "bg/tyumon3.jpg",width: "320",height:"200", class:"beaf"
        .contents__sabufour--box--six
          人手不足解消に繋がる　　自動化のお手伝いいたします♪
        .contents__sabufour--box--seven
          詳しくはこちら
          =link_to "#",target:"_blank",class:"icon" do
            <span>　　会社名　　〇〇</span>

  .contents__sabufive
    .contents__sabufive--box
      .contents__sabufive--box--one
        .contents__sabufive--box--two
          日常の気づきを
          <span>メルマガ</span>でシェアします
        .contents__sabufive--box--three
          .contents__sabufive--box--four
            .contents__sabufive--box--four--one
              メールアドレス<span>　＊必須</span>
            .contents__sabufive--box--four--two
              名前（姓、名）<span>　＊必須</span>
            .contents__sabufive--box--four--three
              サイトを知ったキッカケ
            .contents__sabufive--box--four--four
              気になった記事があれば教えて下さい
          .contents__sabufive--box--five
            .contents__sabufive--box--five--one
              <input type="text" placeholder="アドレスを入力してください" size="45">
            .contents__sabufive--box--five--two
              <input type="text" placeholder="名前を入力してください"size="30" maxlength="20">
            .contents__sabufive--box--five--three
              <textarea placeholder="こちらに入力"></textarea>
            .contents__sabufive--box--five--four
              <textarea placeholder="こちらに入力"></textarea>
        .contents__sabufive--box--sousin
          <input class="contents__sabufive--box--sousin-btn" type="submit" value="入力完了後こちらでメルマガ登録">
        .contents__sabufive--box--six
          ＊メールマガジンの購読は無料です
        .contents__sabufive--box--seven
          %span
            ↑　今すぐ上記フォームよりお申し込みください　↑
  .article#topic2      
  .contents__footer
    .contents__footer--box
      = link_to anchor: "topic", class: "contents__footer--box--one" do
        トップへ戻る
      = link_to "https://www.facebook.com/profile.php?id=100033674423897", target:"_blank",class: "contents__footer--btntwo" do
        = icon('fab', 'facebook-square',  class: "contents__footer--box--two--icon")
        %span Facebook
      .contents__footer--box--three
      <a href="https://twitter.com/D_noheya?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @D_noheya</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      = link_to "https://twitter.com/D_noheya", target:"_blank",class: "contents__footer--box--four" do
        = icon('fab', 'twitter', class: "contents__footer--box--four--icon")
        %span Twitter

      = link_to "https://www.instagram.com/",target:"_blank", class: "contents__footer--box--five" do
        = icon('fab', 'instagram', class: "contents__footer--box--five--icon")
        %span Instagram
      = image_tag "bg/tik.jpg",width: "16",height:"18", class:"hon"
      = link_to "#", class: "contents__footer--box--six" do
        %span Tik Tok
    .contents__footer--name
      〜テックキャンプ　個人アプリ制作〜 制作（たなか　しゅうた
      = link_to "https://kamogashira.com/", target:"_blank" do
        )

